/* Main */

	.main {
		.content {
			background: _palette(bg);
			border-radius: _size(border-radius);
			box-shadow: 0px 0px 4px 1px _palette(border-lt);
			margin-bottom: _size(element-margin);
			padding: 3rem;

			@include breakpoint('<=medium') {
				padding: 2rem;
			}

			@include breakpoint('<=xsmall') {
				padding: 1.5rem;
			}
		}
	}

	.App {
		align-items: center;
		justify-content: center;
		text-align: center;
		color:_palette(color-first);
		background-color: #1a1a1d;
		&-window {
			min-height: 50vw;
			background: _palette(bg);
			border-radius: 5px;
			&-title {
				font-size: 3rem;
				text-align: center;
			}
			&-check-connection {
				position:absolute;
				top: 0px;
				right: 50%;
				z-index: 10002;
			}
			&-online {
				color: _palette(success);
			}
			&-offline {
				color: _palette(danger);
			}
		}
	}
	.Link {
		text-decoration: none;
		cursor: pointer;
		color: _palette(color-second);
	}

	.ReactModal__Overlay {
		z-index: 1000000;
	}
    .ReactModal__Overlay .close-button{
		float: right;
	}

	.box-byuser > *{
		display: inline-block;
	}
    .box-byuser .item{
		margin-right: 6px;
	}