@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/grid';
@import 'libs/flexgrid';
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

// Breakpoints.
	@include breakpoints((
		default:   (1681px,   null     ),
		xlarge:    (1281px,   1680px   ),
		large:     (981px,    1280px   ),
		medium:    (737px,    980px    ),
		small:     (481px,    736px    ),
		xsmall:    (361px,    480px    ),
		xxsmall:   (null,     360px    )
	));

// Color.
	@mixin color($p) {
		@include color-typography($p);
		@include color-list($p);
	}

// Base.
	@import 'base/page';
	@import 'base/reset';
	@import 'base/typography';

// Component.
	@import 'components/inner';
	@import 'components/list';
	@import 'components/grid';
	@import 'components/icon';
	@import 'components/icons';
	@import 'components/wrapper';
	@import 'components/loading';
	@import 'components/gallery';

// Layout.
	@import 'layout/footer';
	@import 'layout/header';
	@import 'layout/main';
