body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.App {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100vw;
	color: #4e4e50;
	background-color: #1a1a1d;
	&-window {
		width: 95vw;
		background: #f4f7f6;
		border-radius: 5px;
		&-title {
			font-size: 3rem;
		}
	}
}
.container {
	width: 80%;
	margin: 2rem auto;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.gallery__item {
	flex: 25%;
	max-width: 25%;
	position: relative;
	clear: both;
	padding-left: 35px;
	padding-bottom: 35px;
}
.gallery__info {
	background-color: #fcfcfc;
}
.gallery__figure {
	height: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background: #dddddd;
	margin: 0;
	padding: 20px;
	position: relative;
}
.rollover {
	display: block;
	background: #E6EAEA;
	transition: all 0.3s ease-in-out;
}
.cover-rollover {
	width: 100%;
	height: auto;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.rollover img {
	height: auto;
	z-index: 1;
	transition: all 0.3s ease-in-out;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.rollover:not(.no-hover):hover .cover-rollover img{
	opacity: 0.5;
}
.rollover:hover:not(.no-scale) .cover-rollover img{
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}
.rollover .open-image{
	position: absolute;
	top: 50px;
	left: 70px;
}
.rollover .hover-item {
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	transition: opacity 0.3s ease-in-out;
}
.rollover:hover .hover-item {
	visibility: visible;
	opacity: 1;
}
.gallery__content {
	padding: 20px 20px 20px 20px;
}
.gallery__footer {
	position: relative;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding: 20px 20px 20px 20px;
}
.gallery__footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	width: calc(100% - 80px);
	height: 1px;
	padding: 0 20px;
	background: #f4f7f6;
}
@media screen and (max-width: 800px) {
	.gallery__item {
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.gallery__item {
		flex: 100%;
		max-width: 100%;
	}
}
